<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Generator-tree Demo</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="http://g.tbcdn.cn/forest/roots/nunjucks-slim.js"></script>
</head>
<body>
    <script>
        var grass_env = {
            a: 1,
            b: 2,
            world: "Hello World!"
        }
    </script>
    <script type="text/javascript" src="http://g.tbcdn.cn/forest/roots/getter.js"></script>
</body>
</html>