<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= appname %></title>
    <link href="http://g.tbcdn.cn/forest/grass/0.1.0/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://g.tbcdn.cn/forest/grass/0.1.0/css/grass.css" rel="stylesheet">
    <link href="css/<%= appname %>.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      Hello World
    </div> <!-- /container -->
    <script src="http://g.tbcdn.cn/forest/grass/0.0.8/vendor/jquery/dist/jquery.min.js"></script>
    <script src="http://g.tbcdn.cn/forest/grass/0.0.8/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://g.tbcdn.cn/forest/grass/0.0.8/js/grass.min.js"></script>

    <script>
      require(['js/<%= appname %>'], function(<%= appname %>){
        <%= appname %>.init();
      })
    </script>
  </body>
</html>